header {
    z-index: 3;
}

.full_page {
    display: flex;
}

#aside li {
    list-style-type: none;
}

aside {
    margin-right: -40px;
    padding-left: 10px;
}

#aside li a {
    text-decoration: none;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.prod {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.product img {
    height: 200px;
    transition: all 0.5s;
}

.product {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-top: 33px;
    box-shadow: rgba(48, 48, 48, 0.35) 0px 5px 15px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.product:hover img {
    transform: scale(120%);
}

.product:hover .description {
    color: #000;
}

.description {
    padding: 10px 0px;
    background-color: rgba(234, 108, 165, 0.8);
    width: 250px;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
}

.product::before {
    content: '';
    background: #000;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.product:hover:before {
    opacity: 0.4;
    z-index: 1;
}

#aside {
    width: 200px;
}

.full_page li a {
    color: #000;
    padding: 8px;
}

.full_page #aside .title_product {
    background-color: rgb(225, 225, 225);
    text-align: center;
}

.full_page li {
    background-color: #e30613;
    border-bottom: 0.3px solid rgb(206, 206, 206);
    padding-top: 2px;
    padding-bottom: 2px;
}

.full_page li:nth-child(n+8) {
    background-color: #ffed00;
}

.full_page li:nth-child(n+16) {
    background-color: #8cbe22;
}

.full_page li:nth-child(n+24) {
    background-color: #ea6ba5;
}

.full_page li:nth-child(n+37) {
    background-color: #4b6fb5;
}

.full_page li:nth-child(n+47) {
    background-color: #551a8b;
}

.full_page li:nth-child(n+53) {
    background-color: #e30613;
}

.full_page #aside .title_product {
    background-color: rgb(225, 225, 225);
    text-align: center;
    font-weight: bolder;
}

#for_free {
    color: #e30613;
}

.full_page li:hover {
    background-color: #fff;
}

.full_page li:hover a {
    color: #e30613;
}

.full_page li:nth-child(n+7):hover a {
    color: #ffed00;
}

.full_page li:nth-child(n+15):hover a {
    color: #8cbe22;
}

.full_page li:nth-child(n+23):hover a {
    color: #ea6ba5;
}

.full_page li:nth-child(n+36):hover a {
    color: #4b6fb5;
}

.full_page li:nth-child(n+46):hover a {
    color: #551a8b;
}

.full_page li:nth-child(n+52):hover a {
    color: #e30613;
}

#fixed {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #8cbe22;
    box-shadow: rgba(110, 110, 110, 0.35) 0px 0px 7px 7px;
    position: fixed;
    left: 60px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 100;
    font-family: cursive;
    color: #fff;
    z-index: 2;
    line-height: 49px;
}



.why {
    text-align: center;
    font-size: 25px;
    position: relative;
    color: #8cbe22;
    margin-top: 30px;
}

.why::before {
    content: '';
    position: absolute;
    width: 202px;
    height: 24px;
    top: 8px;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
    z-index: -1;
}

.why::after {
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
    top: 17px;
    border-bottom: 2px solid #8cbe22;
    z-index: -2;
}

.reasons {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.icons_down {
    width: 150px;
    padding: 30px;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ea6ba5;
}

.icons_down div {
    margin-top: -10px;
    font-weight: 100;
    color: #551a8b;
    font-size: 15px;
}

.icon_image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ffed00;
    border: 1px solid #000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons_down img {
    width: 37px;
}

@media (max-width: 1200px) {
    .prod {
        width: 966px;
    }

    .reasons {
        flex-wrap: wrap;
        height: 460px;
    }
}

@media (max-width: 992px) {
    .prod {
        width: 745px;
    }
}

@media (max-width: 768px) {
    .prod {
        width: 540px;
    }

    .icons_down {
        width: 100px;
        padding: 10px;
        margin: 0 10px;
    }
}
@media (max-width: 576px) {
    .prod {
        width: 470px;
    }
    aside{
        display: none;
    }
}